*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background:#204050d5;
}

/* Navbar */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background: rgba(177, 203, 254, 0.589);
    color:white;
    padding:15px 50px;
}

.navbar ul{
    display:flex;
    list-style:none;
}

.navbar li{
    margin-left:25px;
}

.navbar a{
    color:white;
    text-decoration:none;
}

.navbar a:hover{
    color:yellow;
}

/* Hero */

.hero{
    text-align:center;
    padding:80px 20px;
}

.hero h1{
    font-size:45px;
}

.hero p{
    margin:20px 0;
}

.hero button{
    padding:12px 25px;
    background: rgba(177, 203, 254, 0.589);
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.hero button:hover{
    background:#1b2339;
}

/* How It Works */

.works{
    padding:50px;
    text-align:center;
    cursor: pointer;
}

.boxes{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:30px;
}

.box{
    background:white;
    padding:20px;
    width:250px;
    border-radius:10px;
    box-shadow:0 0 10px lightgray;
    transition: 1s;
}

.box:hover{
    background-color: rgba(177, 203, 254, 0.589);
}

.box:active{
    background-color: rgba(41, 99, 214, 0.589);
}

/* Cards */

.items{
    padding:50px;
    text-align:center;
}

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:30px;
    font-weight: bold;
}

.card{
    background:white;
    padding:20px;
    width:220px;
    border-radius:10px;
    box-shadow:0 0 10px lightgray;
    cursor: pointer;
    transition: 1s;

}

.card:hover{
    background-color: rgba(177, 203, 254, 0.589);
}

.card:active{
    background-color: rgba(41, 99, 214, 0.589);
}
/* Footer */

footer{
    background: rgba(177, 203, 254, 0.589);
    color:white;
    text-align:center;
    padding:20px;
    margin-top:50px;
}

/* Form */

.hero form{
    max-width: 500px;
    margin: 0 auto;
}

.hero input,
.hero select,
.hero textarea{
    width: 100%;
    padding: 14px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.hero textarea{
    min-height: 120px;
    resize: vertical;
}

.hero button{
    font-size: 18px;
    padding: 14px 35px;
}